* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #f9fafb;
  color: #333;
}

.ab {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 80px;
  background-color: #ffffff;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  position: sticky;
  top: 0;
  z-index: 10;
}

.cd {
  font-weight: 600;
  font-size: 22px;
  color: #0a5eb7;
}

.cd span {
  color: #00b4d8;
}

.ef a {
  text-decoration: none;
  margin-left: 28px;
  font-weight: 500;
  color: #333;
  transition: 0.3s;
}

.ef a:hover,
.ef a.active {
  color: #00b4d8;
}

.hd {
  text-align: center;
  padding: 80px 20px 50px;
}

.hd h1 {
  font-size: 36px;
  color: #0a5eb7;
  margin-bottom: 10px;
}

.hd p {
  font-size: 17px;
  color: #555;
}

.wilayah {
  padding: 60px 80px;
}

.wilayah h2 {
  font-size: 26px;
  color: #0a5eb7;
  margin-bottom: 30px;
  text-align: left;
}

.dest {
  display: flex;
  gap: 30px;
}

.card {
  background: #ffffff;
  border-radius: 16px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.08);
  overflow: hidden;
}


.card img {
  width: 100%;
  height: 190px;
  object-fit: cover;
}

.card h3 {
  font-size: 20px;
  color: #0a5eb7;
  margin: 15px 18px 5px;
}

.card p {
  font-size: 15px;
  color: #555;
  margin: 0 18px 20px;
  line-height: 1.5;
}

.ft {
  text-align: center;
  padding: 25px;
  background-color: #ffffff;
  color: #666;
  font-size: 14px;
  margin-top: 60px;
  border-top: 1px solid #eaeaea;
}