* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #f9fafb;
  color: #333;
}


.ab {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 80px;
  background-color: #ffffff;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  position: sticky;
  top: 0;
  z-index: 10;
}

.cd {
  font-weight: 600;
  font-size: 22px;
  color: #0a5eb7;
}

.cd span {
  color: #00b4d8;
}

.ef a {
  text-decoration: none;
  margin-left: 28px;
  font-weight: 500;
  color: #333;
  transition: 0.3s;
}

.ef a:hover,
.ef a.active {
  color: #00b4d8;
}


.judul {
  text-align: center;
  padding: 80px 20px 50px;
}

.judul h1 {
  font-size: 36px;
  color: #0a5eb7;
  margin-bottom: 10px;
}

.judul p {
  font-size: 17px;
  color: #555;
}


.tentang-kami {
  padding: 60px 80px;
  background-color: #ffffff;
  border-radius: 18px;
  margin: 0 80px 60px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}

.tentang-kami h2 {
  font-size: 26px;
  color: #0a5eb7;
  margin-bottom: 20px;
}

.tentang-kami p {
  font-size: 16px;
  color: #555;
  line-height: 1.7;
  margin-bottom: 15px;
}

.visi-misi {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  padding: 0 80px;
  margin-bottom: 70px;
}

.visi-misi .box {
  flex: 1;
  background: #ffffff;
  border-radius: 16px;
  padding: 30px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.08);
}

.visi-misi h2 {
  font-size: 24px;
  color: #0a5eb7;
  margin-bottom: 15px;
}

.visi-misi p,
.visi-misi li {
  font-size: 16px;
  color: #555;
  line-height: 1.6;
}

.visi-misi ul {
  padding-left: 20px;
}


.tim {
  text-align: center;
  padding: 50px 80px 80px;
}

.tim h2 {
  font-size: 26px;
  color: #0a5eb7;
  margin-bottom: 40px;
}

.anggota {
  display: flex;
  justify-content: center;
}

.card {
  background-color: #ffffff;
  border-radius: 18px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.08);
  padding: 25px;
  width: 240px;
}

.card img {
  width: 100%;
  height: 230px;
  border-radius: 12px;
  object-fit: cover;
  margin-bottom: 15px;
}

.card h3 {
  color: #0a5eb7;
  font-size: 20px;
  margin-bottom: 6px;
}

.card p {
  color: #555;
  font-size: 15px;
}

.footer {
  text-align: center;
  padding: 25px;
  background-color: #ffffff;
  color: #666;
  font-size: 14px;
  border-top: 1px solid #eaeaea;
}