body {
  font-family: 'Poppins', sans-serif;
  background-color: #f8faf7;
  color: #333;
  margin: 0;
  padding: 0;
}

/* Header */
header.ab {
  background-color: #3b6b40;
  color: #fff;
  text-align: center;
  padding: 1.5rem 0;
  box-shadow: 0 2px 8px rgba(0,0,0,0.2);
}

/* Main Content */
main.cd {
  padding: 2.5rem 8%;
}

/* Tentang Ubud */
.info h2 {
  text-align: center;
  color: #2f5734;
  margin-bottom: 1.2rem;
}

.info p {
  text-align: justify;
  line-height: 1.8;
  margin-bottom: 1rem;
}

/* Tempat Menarik */
.spotlight {
  margin-top: 2.5rem;
}

.spotlight h2 {
  text-align: center;
  color: #2f5734;
  margin-bottom: 2rem;
}

.kd {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  margin-bottom: 2rem;
  border-radius: 14px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  overflow: hidden;
}

.kd img {
   width: 300px;
  height: 250px;
  object-fit: cover;
}

.sps {
  padding: 1.5rem;
}

.sps h3 {
  color: #3b6b40;
  margin-top: 0;
}

.sps p {
  line-height: 1.7;
  text-align: justify;
}

.balik {
  text-align: center;
  margin: 2.5rem 0;
}

.btn {
  background-color: #3b6b40;
  color: white;
  padding: 0.8rem 1.6rem;
  text-decoration: none;
  border-radius: 8px;
  font-weight: 500;
}

.btn:hover {
  background-color: #2f5734;
}