body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #fcfaf6;
  margin: 0;
  padding: 0;
  color: #333;
}

/* Header */
header.ab {
  background-color: #8c4b26;
  color: white;
  text-align: center;
  padding: 1.3rem 0;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

/* Main */
main.cd {
  padding: 2rem 8%;
}

/* Info Section */
.info h2 {
  text-align: center;
  color: #7a3f1e;
  margin-bottom: 1rem;
}

.info p {
  text-align: justify;
  line-height: 1.7;
  margin-bottom: 1rem;
}

/* Spotlight Section */
.spotlight {
  margin-top: 2.5rem;
}

.spotlight h2 {
  text-align: center;
  margin-bottom: 2rem;
  color: #7a3f1e;
}

.kd {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  background: white;
  border-radius: 15px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  overflow: hidden;
}

.kd img {
   width: 300px;
  height: 250px;
  object-fit: cover;
}

.sps {
  padding: 1.2rem;
}

.sps h3 {
  margin-top: 0;
  color: #a7643c;
}

.balik {
  text-align: center;
  margin: 2rem 0;
}

.btn {
  text-decoration: none;
  background-color: #a7643c;
  color: white;
  padding: 0.7rem 1.5rem;
  border-radius: 8px;
}

.btn:hover {
  background-color: #c37d4a;
}